---
import Library from "../assets/Library.astro";
import Home from "../assets/home.astro";
import SideMenuItem from "./SideMenuItem.astro";
import Search from "../assets/Search.astro";
import SideMenuCard from "./SideMenuCard.astro";
import { playlists } from "../lib/data";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <Home /> Home
      </SideMenuItem>
      <SideMenuItem href="/">
        <Search /> Search
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-zinc-900 rounde-lg p-2 flex-1">
    <SideMenuItem href="/">
      <Library /> Biblioteca
    </SideMenuItem>

    {playlists.map((playlists) => <SideMenuCard playlists={playlists} />)}
  </div>
</nav>
