---
// Import Tailwind CSS
import AsideMenu from "../components/AsideMenu.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { Player } from "../components/Player";
import PlayListItemCard from "../components/PlayListItemCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ViewTransitions fallback="none" />
  </head>
  <body>
    <div id="app" class="relative h-screen p-2 gap-2">
      <aside class="[grid-area:aside]flex-col flex overflow-y-auto">
        <AsideMenu />
      </aside>
      <main
        class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto text-cyan-50"
      >
        <slot />
      </main>

      <footer class="[grid-area:player] h-[80px]">
        <Player client:load transition:name="media-player" transition:persist />
      </footer>
    </div>
  </body><style>
    #app {
      display: grid;
      grid-template-areas:
        "aside main main"
        "player player player";

      grid-template-columns: 350px 1fr;
      grid-template-rows: 1fr auto;
    }
  </style>
  <style is:global>
    html {
      font-family:
        "CircularStd",
        system-ui,
        Segoe sans-serif;
      background: #000;
      color: white;
    }
    @font-face {
      font-family: "CircularStd";
      src: url("../fonts/CircularStd-Black.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "CircularStd";
      src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "CircularStd";
      src: url("../fonts/CircularStd-Light.woff2") format("woff2");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "CircularStd";
      src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "CircularStd";
      src: url("../fonts/CircularStd-Black.woff2") format("woff2");
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }
  </style>
</html>
